html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}


html {
  box-sizing: border-box;
}
html, body{
	height: 100%;
}

body {
	display: inline-block;
}


header {
	background-color: gray;
	background-image: url("../img/honeycomb.jpg");
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	height: 180px;

}

title {
	font-family: Poppins, sans-serif;
}

h1 {
	font-size: 5vw;
	text-align: center;
	padding-top: 30px;
	font-style: normal;
	text-shadow: 1px 1px #FECC67;
	color: #4D52CD;
}


h1, h2, li, h3, p, footer {
	/* font-family: Allerta, sans-serif; */
	font-family: Roboto, sans-serif;
}

h2 {
	font-size: 2.5vw;
	text-align: center;
	color: #4D52CD;
}


a {
	 text-decoration: none;
}

h3 {
	margin-left: 20px;
}

nav {
  background-color: #FECC67;
  height: 45px;
	padding-top: 5px;
}

#nav nav a{
  color: #4D52CD;
  text-decoration: none;
  padding: 10px;

}

#nav nav li{
  display: inline;

}

#nav nav ul{
  text-align: center;
	margin-top: 10px;
	margin-left: 0px;
}

#content {
	padding: 20px;
	display: block;
	text-align: justify;
}

.indents {
	padding-left: 286px;
	padding-right: 250px;
}

#nav ul li a.page{
	color: #F79F28;
	font-weight: bold;
}

#nav ul li a.page:before {
  content: "\2234";
  color: #F79F28;
  padding-right: 4px;
  position: relative;
  top: 1px;
}
#nav ul li a:hover, #nav ul li a:focus, {
    background-color: #B64E8D;
    color: gray;
    font-weight: bold;
}
#nav ul li a:hover:before, #nav ul li a:focus:before{
    content: "\2234";
  	color: gray;
  	padding-right: 4px;
  	position: relative;
  	top: 1px;
}
/*implement menu toogle*/
#nav.toggle-open ul{
	display: block;
}


p {
	margin-left: 10px;
}


.left_img {
	display: inline-block;
	float: left;
	height: 200px;
	margin-left: 40px;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.right_img {
	display: inline-block;
	float: right;
	margin-right: 30px;
}

/* footer stuff */

footer {
	background-color: #24110B;
	color: gray;
	font-size: 9pt;
	/* position: fixed; */
	width: 100%;
	height: 155px;
}

.logo {
	display: inline-block;
	position: relative;
	float: left;
}

.poem {
	display: inline-block;
	/* float: left; */
	/* text-align: left; */
	padding-left: 10px;
	padding-top: 10px;
	width: 50%;
}

.poem li {
	list-style-type: none;
	font-style: italic;
}

/* end footer stuff */

section {
	position: relative;
}
/* img{
	border: 1px solid black;
	margin: 10px;
	padding: 50px;
} */

/* gallery page */
#pics {
  /* Prevent vertical gaps */
	display: inline-block;
	line-height: 0;
	padding: 80px;
	-webkit-column-count: 3;
	-webkit-column-gap: 0px;
	-moz-column-count: 3;
	-moz-column-gap: 0px;
	column-count: 3;
	column-gap: 0px;
}

#pics img {
	width: 100% !important;
	height: auto !important;
}
/* end gallery  */



aside {
	display: inline-block;
	float: right;
  width: 200px;
	height: 150px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
  background-color: #C35918;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	color: #FECC67;
	font-size: 9pt;
}

aside li{
	list-style-type: none;
	color: #FECC67;
	float: left;
}

aside ul{
	padding-left: 20px;
	width: 180px;
	float: none;
}

aside a {
	/* font-size: 1em; */
	color: #FECC67;
	margin-left: 0px;
}

aside ul li a.page:before {
  content: "\2234";
  color: #F79F28;
  padding-right: 4px;
  position: relative;
  top: 1px;
}
aside ul li a:hover, aside ul li a:focus, {
    background-color: #B64E8D;
    color: #24110B;
    font-weight: bold;
}
aside ul li a:hover:before, aside ul li a:focus:before{
    content: "\2234";
  	color: #24110B;
  	padding-right: 4px;
  	position: relative;
  	top: 1px;
}

/* "help" page styling*/

.edu_head h3, img {
	display: inline-block;
	font-size: 25pt;
	color: #C15924;
	vertical-align: middle;
}

.edu_head {
	margin-top: 20px;
}

.edu_intro {
	text-align: justify;
	width: 560px;
}

.row{
  width: 95%;
  margin: auto;
}


.box {
  color: black;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 100%;
}

.box img{
	width: 100%;
}
/* .a {
    background-color: green;
}

.b{
    background-color: yellow;

}

.c{
    background-color: red
}

.d{
    background-color: green;
} */

/*
responsive area */

@media (max-width: 1200px) {
  #pics {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #pics {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #pics {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
	footer {
		height: 240px;
	}
}

@media (max-width: 400px) {
  #pics {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
	footer {
		height: 300px;
	}
}

/* Education page */

.vidcontainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
		margin-top: 40px;
    height: 0;
    overflow: hidden;
		font-size: 10pt;
		max-width: 650px;
}



iframe {
	display: inline-block;
	position: relative;
	margin-top: 10px;
}


.content {
	margin: 30px;
}


/* footer stuff */


.social {
	display: block;
	margin-left: 132px;
}

/* .social p{
	display: inline-block;
	margin: 0px;
	vertical-align: middle;
} */
.copyright {
	margin-left: 130px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 10px;
}

.icon {
  display: inline-block;
  width: 3em;
  height: 3em;
  stroke-width: 0;
  stroke: #8A8A8A;
  fill: #8A8A8A;
}


.icon-twitter-square {
  width: 2em;
}

.icon-facebook-square {
  width: 2em;
}

.icon-google-plus-square {
  width: 2em;
}

.icon-instagram {
  width: 2em;
}


.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
	max-width: 650px;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

/* bootstrap */
h1{
	line-height: 1;
	font-weight: 600;
}
